<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row-fluid marketing">
      <div class="span6">
        <% flash.each do |name, msg| %>
          <div><%= msg %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
